.guest-select {width:305px !important;}

.page{
    width: 70%;
margin: auto;
position:relative;
margin-top: 10px;
}
h1.logo{
    background: url('../img/sk81_marca.jpg') no-repeat !important;
    width: 158px;
    height: 90px;
    float: left;
    margin-top: -20px;
}
h1.logo strong{
    display:none;
}
h1.logo img{
    display:none;
}
.header ul li{
    display: inline;
    color: black;
}
.header .welcome-msg {
    display:none;
}
.header-container {
    background-color: white;
}
.header .links {
/*    float: right;
    margin: 0 0 6px;
    */
    display: none;
}
.main-container {
    background: white;
}
.main {
/*width: 900px;
margin: 0 auto;
min-height: 400px;
padding: 25px 25px 80px;*/
background: white;
/*text-align: left;*/
}
.footer .bugs {
    margin: 13px 0 0;
    color: #ecf3f6;
    display: none;
}

.header-container {
    border-top: none;
    border-bottom: none;
    background: none;
    background-color: white;
    
}

.header .form-search {
    position: absolute;
    top: 0;
    right: 10%;
    width: 315px;
    height: 30px;
    background:none;
    padding: 1px 0 0 16px;
    background-color: white;
}


button.button {
    display: none;
}

.lojaFisica{
    color:#17a64a;
    font-size: 38px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: 45px;
}

.footer-container { 
    border-top:none;
    background-color: white;
}
.header {
    width: 930px;
    margin: 0 auto;
    padding: 10px 10px 0px;
    background-color: white;
}
.header li.last {
    background: none;
    padding:17px;
    position: relative;
}
.seguinos{
    font-size: 15px;
    font-weight: bold;
}
.btnFB{
    background: url('../img/f.jpg') no-repeat;
    height: 65px;
    width: 69px;
    margin-top: 3px;
    cursor:pointer;
    float:left;
}
.btnFB:hover, .btnTW:hover, .btnYT:hover, .btnVI:hover{
    opacity: 0.5;
}
.btnTW{
   background: url('../img/t.jpg') no-repeat;
    height: 65px;
    width: 71px;
    margin-top: 5px;
    cursor:pointer;
    float:left;
}
.btnYT{
    background: url('../img/yt.jpg') no-repeat;
    height: 70px;
    width: 71px;
    cursor:pointer;
    float:left;
}
    

.btnVI{
   background: url('../img/v.jpg') no-repeat;
    height: 74px;
    width: 71px;
    cursor:pointer;
    float:left;
}
.footData{
    font-size: 15px;
    font-size: 15px;
    margin-top: 20px;
}



/*CAROUSEL*/
ul.controls li{ display: inline;}
    ul.controls li a{ background:url('../img/bot_car_1.jpg') no-repeat; padding: 5px; color: #FF5B00; text-decoration: none;  display : inline-block; text-indent: -3000px; width : 7px;margin-left: 4px;}
ul.controls li a.active{ background:url('../img/bot_car_2.jpg') no-repeat;color:#1A1A1A}

div#section2 {
		background:#666666;
		color:#ffffff;
}
div.scroller {
	/* modify width and height of scrolling section if necessary	*/		
	width: 892px; 
	height: 300px;
	overflow: hidden;
}
div.scroller div.section {
		/* modify width and height of each section as needed (should match the size of the scroller window)	*/		
		width:892px;
		height:300px;
		overflow:hidden;
		float:left;
		padding:1em;		
}
div.scroller div.content {
		width: 10000px;
}

.flecha_izq{
    background: url('../img/home_destacado_flecha_izq.png') no-repeat;
    width: 19px;
    height: 28px;
    position: absolute;
    margin-top: -220px;
    cursor: pointer;
}

.flecha_der{
    background: url('../img/home_destacado_flecha_dere.png') no-repeat;
    position: absolute;
    margin-top: -220px;
    margin-left: 875px;
    cursor: pointer;
    width: 22px;
    height: 30px;
   
}

.pointsLine{
    background: url('../img/linea_ptos.jpg') no-repeat;
    width: 92%;
height: 20px;
margin-top: 20px;
margin-left: 45px;
}
.pointsLine2{
    background: url('../img/linea_ptos.jpg') no-repeat;
    width: 92%;
height: 20px;
margin-top: 20px;
}
.subTitle{
    margin-left: 45px;
    font-size: 25px;
    color:#bbb;
    margin-bottom: 5px;
    font-weight: bold;
}
.img_slider{
    margin-top: -11px;
    margin-left: -11px;
    width: 100%;
}
.marcasHome{
    width:100%;
}
.pagos{
    background: url('../img/productos_top.jpg') no-repeat;
    height:100px;
}
.botonera{
    margin-top: 35px;
    height: 30px;
}
.carousel-control{
    border: 0px;
    color: transparent;
}
.carousel-control:hover{
    color:transparent;
}
.carousel-control.left{
    background: url('../img/home_destacado_flecha_izq.png') no-repeat !important;
}
.carousel-control.right{
    background: url('../img/home_destacado_flecha_dere.png') no-repeat !important;
}
.social{
    color: #aaa;
    text-align: center;
}
.icon{
    display: inline;
}
.icons{
    clear:both;
    height: 75px;
    width: 290px;
    margin: auto;
}
.jcarousel-prev{
    width: 16px !important;
    height: 52px !important;
    background: url('../img/home_flecha_iz.png') no-repeat !important;
}
.jcarousel-next{
    width: 16px !important;
    height: 52px !important;
    background: url('../img/home_flecha_dere.png') no-repeat !important;
}
.carousel-indicators{
    top: 100%;
}
.carousel-indicators li{
    background: url('../img/bot_car_1.jpg') no-repeat !important;
    width: 20px;
    height: 20px;
    cursor:pointer;
}
.carousel-indicators .active{
    background: url('../img/bot_car_2.jpg') no-repeat !important;
    width: 20px;
    height: 20px;
    cursor:pointer;
}
.header ul li{
    cursor:pointer;
}
.header ul li.active{
    background: url('../img/home_flecha_arriba.jpg') no-repeat 50% 38px;
    padding-bottom: 10px;
}
.header ul li:hover{
    background: url('../img/home_flecha_arriba.jpg') no-repeat 50% 38px;
    padding-bottom: 10px;
}
.leftText{
    float:left;
    width: 45%
}
.rightText{
    float:right;
    width: 45%
}
.greyText{
    color:#ccc;
}
.sportTitle{
    font-size: 20px;
    color:#999;
}
.subSportTitle{
    font-size: 12px;
    color:#ccc;
}
.deportista{
    font-size: 11px;
}
.titSobre{
    font-size: 20px;
}
.subAtletas{
    display: none;
    background-color: #000;
padding: 10px;
width: 80px;
position: absolute;
margin-left: 0;
}
.subAtletas li:hover{
    opacity: 0.5;
}
.subAtletas li{
    color:#fff !important;
    margin-left: -3px;
}

.atletas:hover{
background-image: none !important;
    background-color: #000 !important;
color: #fff;

}